<nav id="cabecera" class="navbar" th:fragment="navbar-admin">

    <!-- ---------------------NAV EN COMUN-------------- -->
    <div sec:authorize="hasAnyRole('ADMIN','USUARIO')" class="navbar-nav">
        <ul>
            <li class="nav-item"><a class="nav-link" href="/tienda">TIENDA </a></li>
            <li class="nav-item"><a class="nav-link" href="/contacto">CONTACTO</a></li>
            <li class="nav-item"><a class="nav-link" href="/faqs">FAQS</a></li>
        </ul>

        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
        <a href="/inicio"><img id="logo" src="/img/logo.png"></a>
        <li class="nav-item"><a class="nav-link" href="/login" id="inicses">Iniciar sesión</a></li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-display="static" aria-expanded="false">
                <i class="bi bi-gear" text="Opciones"></i>
            </a>
            <div class="dropdown-menu bg-dark dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                <a class="nav-link" th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}"><i class="bi bi-pencil-square"></i> Configurar perfil</a>
                <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
            </div>
        </li>
    </div>

    <!-- ----------------------------- NAV USUARIO--------------------------------- -->
    <div sec:authorize="hasRole('USUARIO')" class="navbar-nav">
        <a class="nav-link" th:href="@{/prestamos/admin-prestamos-usuario/__${session.usuariosession.id}__}">Mis compras</a>
        <button type="button" class="btn btn-light"><span class="bi bi-cart"></span></button>
    </div>

</nav>