<!DOCTYPE html5>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!--HEAD-->
    <head th:replace="/fragments/head :: head"></head>
    <head>
        <title>Madí ART - Menú Administrativo</title>
    </head>
    <body>
        <div id="pagina">
            <!--NAVIGATION-->
            <nav th:replace="/fragments/navbar :: nav"></nav>
            <div id="contenido">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="bg-dark text-white">Panel Administrativo - Librería de EGG</h1>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')" class="row">
                        <table class="table-responsive-lg table-hover table-dark table-bordered">
                            <div class="col-12"><h3 class="bg-dark text-white">Usuarios activos</h3></div>
                            <thead>
                                <tr class="bg-danger text-white text-center">
                                    <th>Foto</th>
                                    <th>ID</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Mail - Teléfono</th>
                                    <th>Rol</th>
                                    <th>Estado / Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuario : ${usuariosActivos}">
                                    <td><img class="img-fluid rounded-circle" th:if="${usuario.foto != null}" th:src="${'/foto/usuario/' + usuario.id}" alt="" id="profile-photo"></img></td>
                                    <td th:text="${usuario.id}"></td>
                                    <td th:text="${usuario.dni}"></td>
                                    <td><a th:href="@{/admin/prestamos/admin-prestamos-usuario/__${usuario.id}__}"><span th:text="${usuario.nombre} + ' ' + ${usuario.apellido}" th:title="'Ver préstamos de ' + ${usuario.nombre}"></span></a></td>
                                    <td><span th:text="${usuario.mail}"></span><br><span th:text="${usuario.telefono}"></span></td>
                                    <td th:text="${usuario.rol}"></td>
                                    <td class="col-2 align-middle">
                                        <i th:if="${usuario.baja == null}" class="bi bi-circle-fill text-success"
                                           title="De alta"></i>
                                        <i th:if="${usuario.baja != null}" class="bi bi-circle-fill text-danger"
                                           title="De baja"></i>
                                        <a th:if="${usuario.baja == null}" th:href="@{/admin/deshabilitar/__${usuario.id}__}"><i class="bi bi-arrow-down-circle text-danger" title="Dar de baja"></i></a>
                                       
                                        <a th:if="${usuario.rol == T(com.arte.madi.enums.Rol).ADMIN}" th:href="@{/admin/cambiar-rol/__${usuario.id}__}"><i class="bi bi-percson-dash text-danger" title="Cambiar rol a 'USUARIO'"></i></a>
                                        <a th:if="${usuario.rol == T(com.arte.madi.enums.Rol).USUARIO}" th:href="@{/admin/cambiar-rol/__${usuario.id}__}"><i class="bi bi-person-plus text-danger" title="Cambiar rol a 'ADMIN'"></i></a>
                                        <a th:href="@{/admin/eliminar/__${usuario.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table><br>
                        <br><table class="table-responsive-lg table-hover table-dark table-bordered">
                            <div class="col-12"><h3 class="bg-dark text-white">Usuarios dados de baja</h3></div>
                            <thead>
                                <tr class="bg-danger text-white">
                                    <th>Foto</th>
                                    <th>ID</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Mail - Teléfono</th>
                                    <th>Rol</th>
                                    <th>Estado / Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuario : ${usuariosInactivos}">
                                    <td><img class="img-fluid rounded-circle" th:if="${usuario.foto != null}" th:src="${'/foto/usuario/' + usuario.id}" alt="" id="profile-photo"></img></td>
                                    <td th:text="${usuario.id}"></td>
                                    <td th:text="${usuario.dni}"></td>
                                    <td><a th:href="@{/admin/prestamos/admin-prestamos-usuario/__${usuario.id}__}"><span th:text="${usuario.nombre} + ' ' + ${usuario.apellido}" th:title="'Ver préstamos de ' + ${usuario.nombre}"></span></a></td>
                                    <td><span th:text="${usuario.mail}"></span><br><span th:text="${usuario.telefono}"></span></td>
                                    <td th:text="${usuario.rol}"></td>
                                    <td class="col-2 align-middle">
                                        <i th:if="${usuario.baja == null}" class="bi bi-circle-fill text-success"
                                           title="De alta"></i>
                                        <i th:if="${usuario.baja != null}" class="bi bi-circle-fill text-danger"
                                           title="De baja"></i>
                                        <a th:if="${usuario.baja != null}" th:href="@{/admin/habilitar/__${usuario.id}__}"><i class="bi bi-arrow-up-circle text-success" title="Dar de alta"></i></a>
                                       
                                        <a th:href="@{/admin/eliminar/__${usuario.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--FOOTER-->
                <footer th:replace="/fragments/footer :: footer"></footer>
            </div>
    </body>
</html>