<!DOCTYPE html5>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--HEAD-->

<head th:replace="/fragments/head :: head"></head>

<head>
    <link rel="stylesheet" href="/style-admin_arte.css">
    <title>Madi ART - Obra de Arte</title>
</head>

<body>
    <div id="pagina">
        <!--NAVIGATION-->
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div id="contenido">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <h1 id="encabezado" class="text-white">Gestión de___ obras de_ arte</h1>
                    </div>
                </div>

                <div class="row">
                    <div th:if="${error != null}" class="col-12 alert alert-danger alert-dismissible fade show" id="alert" role="alert">
                        <!--Este if mostrará el texto en el caso de que aparezca un error.-->
                        <span th:text="${error}" id="error"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div th:if="${success != null}" class="col-12 alert alert-success alert-dismissible fade show" id="alert" role="alert">
                        <!--Este if mostrará el texto en el caso de que salga todo bien.-->
                        <span th:text="${success}" id="success"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>

                    <div class="container" id="menu">
                        <button class="btn" id="btn-orange" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-plus-circle-dotted"></i> Nueva obra de arte
                            </button>
                        <button class="btn" id="btn-orange" type="button" data-toggle="collapse" data-target="#collapsehelp" aria-expanded="false" aria-controls="collapseExample">
                                <span><i class="bi bi-question-circle"> </i></span>
                            </button>
                    </div>
                    <div class="collapse card card-body alert alert-dismissible text-justify alert-primary" id="collapsehelp" role="alert">
                        <ul style="list-style-type:disc;">
                            <li><strong>Nueva obra de arte</strong></li>
                            <ul>
                                <li>En ésta sección podrá cargar todos los datos necesarios para registrar un arte en la base de datos.</li>
                                <li>Es importante recordar que, si el autor de la obra de arte no se encuentran registrados, es obligatorio hacerlo primero.</li>
                            </ul>
                        </ul>
                        <ul style="list-style-type:disc;">
                            <li><strong>Gestionar</strong></li>
                            <ul>
                                <li><strong>Listar artes:</strong> en ésta sección se listan datos de todos los artes registrados en la base de datos (Portada, título y año, ejemplares disponibles, autor, editorial, estado (dado de baja/alta).</li>
                                <li><strong>Gestionar:</strong> se incluyen las funciones de "Dar de baja/alta", "Modificar" y "Eliminar".</li>
                                <li><strong><i class="bi bi-exclamation-triangle"></i> Eliminar </strong> un arte implica la eliminación de la obra de arte seleccionada.</li>
                            </ul>
                        </ul>
                        <button type="button" class="close" data-toggle="collapse" data-target="#collapsehelp" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="collapse" id="collapse1">
                        <div class="card card-body alert alert-dismissible bg-dark text-white" role="alert">
                            Ingrese los datos solicitados a continuación:
                            <div class="registry-form col-12 text-justify bg-dark text-white">
                                <div class="col-12 text-justify bg-dark text-white">
                                    <form action="/admin/artes/registrar-arte" method="POST" enctype="multipart/form-data">

                                        <label>Nombre</label>
                                        <input type="text" class="form-control" name="nombre" th:value="${nombre}" />

                                        <label for="anio">Año</label>
                                        <input type="number" class="form-control" name="anio" th:value="${anio}" />

                                        <label for="descripcion">Descripción</label>
                                        <input type="textarea" class="form-control" name="descripcion" th:value="${descripcion}" />
                                        <small id="descripcionHelp" class="form-text text-muted">Reseña de máx. 255 caracteres que identifica el arte.</small>

                                        <label for="precio">Precio</label>
                                        <input type="number" class="form-control" name="precio" th:value="${precio}" />
                                        <small id="ejemplaresHelp" class="form-text text-muted">Precio en AR$.</small>

                                        <label>Categoria</label>

                                        <select class="form-control custom-select" name="categoria">
                                                <option selected disabled value="">Seleccionar...</option>
                                                <option th:each="arte : ${categorias}" th:value="${arte}" th:text="${arte.displayName()}"></option> 
                                            </select>

                                        <label>Foto</label>
                                        <input type="file" class="form-control bg-dark text-white" name="archivo" th:value="${archivo}" id="file" /><br>


                                        <label>Autor</label>
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <p><i class="bi bi-info-circle-fill"></i> Si el Autor del arte no se encuentra en la lista, debe crearlo previamente en la segunda opción.</p>
                                            <button type="button" class="close" data-dismiss="alert">
                                                 <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>


                                        <!-- FIN DEL BLOQUE -->




                                        <br>
                                        <p><button type="submit" class="btn btn-success">Guardar arte</button></p>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="close" data-toggle="collapse" data-target="#collapse1" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                    </div>
                </div>
                <table class="table-responsive-lg table-hover table-dark table-bordered">
                    <h3 class="titulo-tabla">Obras de artes activas</h3>
                    <thead class=>
                        <tr class="encabezado-tabla">
                            <th>Portada</th>
                            <th>Nombre (Año)</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Autor</th>
                            <th>Categoria</th>
                            <th>Estado / Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="arte : ${artes}">
                            <td><img class="img-fluid" th:if="${arte.foto != null}" th:src="${'/foto/arte/' + arte.id}" alt="" id="profile-photo"></img>
                            </td>
                            <td th:text="${arte.nombre} + ' (' + ${arte.anio} + ')'"></td>
                            <td th:text="${arte.descripcion}"></td>
                            <td th:text="${arte.precio}"></td>
                            <td th:text="${arte.autor.nombre}"></td>
                            <td th:text="${arte.categoria}"></td>
                            <td>
                                <i th:if="${arte.alta == true}" class="bi bi-circle-fill text-success" title="De alta"></i>
                                <i th:if="${arte.alta == false}" class="bi bi-circle-fill text-danger" title="De baja"></i>
                                <a th:if="${arte.alta == false}" th:href="@{/admin/artes/alta/__${arte.id}__}"><i class="bi bi-arrow-up-circle text-success" title="Dar de alta"></i></a>
                                <a th:if="${arte.alta == true}" th:href="@{/admin/artes/baja/__${arte.id}__}"><i class="bi bi-arrow-down-circle text-danger" title="Dar de baja"></i></a>
                                <a th:href="@{/admin/artes/modificar-arte-datos/__${arte.id}__}"><i class="bi bi-pencil-square text-danger" title="Editar"></i></a>
                                <a th:href="@{/admin/artes/eliminar-arte/__${arte.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-responsive-lg table-hover table-dark table-bordered">
                    <h3 class="titulo-tabla">Obra de artes de baja</h3>
                    <thead class=>
                        <tr class="encabezado-tabla">
                            <th>Portada</th>
                            <th>Nombre (Año)</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Autor</th>
                            <th>Categoria</th>
                            <th>Estado / Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="arte : ${artesDeBaja}">
                            <td><img class="img-fluid" th:if="${arte.foto != null}" th:src="${'/foto/arte/' + arte.id}" alt="" id="profile-photo"></img>
                            </td>

                            <td th:text="${arte.nombre} + ' (' + ${arte.anio} + ')'"></td>
                            <td th:text="${arte.descripcion}"></td>
                            <td th:text="${arte.precio}"></td>
                            <td th:text="${arte.autor.nombre}"></td>
                            <td th:text="${arte.categoria}"></td>
                            <td>
                                <i th:if="${arte.alta == true}" class="bi bi-circle-fill text-success" title="De alta"></i>
                                <i th:if="${arte.alta == false}" class="bi bi-circle-fill text-danger" title="De baja"></i>
                                <a th:if="${arte.alta == false}" th:href="@{/admin/artes/alta/__${arte.id}__}"><i class="bi bi-arrow-up-circle text-success" title="Dar de alta"></i></a>
                                <a th:if="${arte.alta == true}" th:href="@{/admin/artes/baja/__${arte.id}__}"><i class="bi bi-arrow-down-circle text-danger" title="Dar de baja"></i></a>
                                <a th:href="@{/admin/artes/modificar-arte-datos/__${arte.id}__}"><i class="bi bi-pencil-square text-danger" title="Editar"></i></a>
                                <a th:href="@{/admin/artes/eliminar-arte/__${art.id}__}"><i class="bi bi-x-circle text-danger" title="Eliminar"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- SCRIPTS-->



            <!--FOOTER-->
            <footer th:replace="/fragments/footer :: footer"></footer>

        </div>
</body>

</html>