<!DOCTYPE html5>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--HEAD

<head th:replace="/fragments/head :: head"></head>-->

 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/style-inicio.css">
    <!--FAVICON-->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Madí</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- JAVASCRIPT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </script>
    <script>
        $(document).ready(function() {
            $('#icon').click(function() {
                $('ul').toggleClass('show');
            });
        });
    </script>

<head>
    <title>Madí ART - Inicio</title>
</head>

<body>
    <div id="pagina">
        <!--NAVIGATION-->
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <!--MAIN CONTENT-->
        <div id="contenido">
            <div class="bg-dark container text-center">
                <div class="row">
                    <div class="col-12 text-white row">
                        <h1>Bienvenides a Madí ART!</h1>
                    </div>
                </div>
                <!--USER WELCOME BANNER-->
                <div class="col-12">
                    <h2 class="bg-dark text-white row" sec:authorize="hasRole('ADMIN')">
                        <!--Div que aparece sólo si el usuario logueado es Administrador-->
                        <div class="col-auto"><img class="img-fluid rounded-circle" th:if="${session.usuariosession != null}" th:src="@{'/foto/usuario/' + ${session.usuariosession.id}}" id="profile-photo" /></div>
                        <div class="col-auto">
                            <span id="user-banner" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido} + ' (Administrador)'"></span><br>
                            <h5>Usuario desde <span th:text="${session.usuariosession.alta}"></span></h5>
                        </div>
                    </h1>
                </div>
                <div class="col-12">
                    <h2 class="bg-dark text-white row" sec:authorize="hasRole('USUARIO')">
                        <!--Div que aparece para el resto de los usuarios-->
                        <div class="col-auto"><img class="img-fluid rounded-circle" th:if="${session.usuariosession != null}" th:src="@{'/foto/usuario/' + ${session.usuariosession.id}}" id="profile-photo" /></div>
                        <div class="col-auto">
                            <span id="user-banner" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}"></span><br>
                            <h5>Usuario desde <span th:text="${session.usuariosession.alta}"></span></h5>
                        </div>
                    </h1>
                </div>
                <!--Este if mostrará el texto en el caso de que aparezca un error.-->
                <div th:if="${error != null}" class="col-12 alert alert-danger alert-dismissible fade show" id="alert" role="alert">
                    <span th:text="${error}" id="error"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Este if mostrará el texto en el caso de que salga todo bien.-->
                <div th:if="${success != null}" class="col-12 alert alert-success alert-dismissible fade show" id="alert" role="alert">
                    <span th:text="${success}" id="success"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--ADMIN SECTION-->
                <div sec:authorize="hasRole('ADMIN')" class="row">
                    <div class="col">
                        <div class="card bg-dark text-white" id="login-card">
                            <div class="card-img-top-arte">
                                <span>
                                    <h1 id="icon"><i class="bi bi-people-fill" fill="currentColor"></i></h1>
                                </span>
                            </div>
                            <div class="card-body">
                                <h5>Administrador de Usuarios</h5>
                                <span class="card-text"> Dashboard: aquí podrás listar usuarios, modificar datos, dar de baja/alta y modificar roles.</span>
                                <br>
                                <a href="/admin/dashboard">
                                    <button type="button" class="btn btn-warning">Acceder</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-dark text-white" id="login-card">
                            <div class="card-img-top-autor">
                                <span>
                                    <h1 id="icon"><i class="bi bi-book" fill="currentColor"></i></h1>
                                </span>
                            </div>
                            <div class="card-body">
                                <h5>Administrador de Obras</h5>
                                <span class="card-text"> Aquí podrás cargar datos
                                    de una obra, autores, modificar datos, listar y dar de baja/alta.</span>
                                <br>
                                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                                    Acceder
                                </button>
                                <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenu2">
                                    <a href="/admin/artes/admin-artes"><button class="dropdown-item" type="button">Obras</button></a>
                                    <a href="/admin/autores/admin-autores"><button class="dropdown-item" type="button">Autores</button></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--USUARIO SECTION-->
                    <div sec:authorize="hasRole('USUARIO')" class="row">
                        <!--CARDS TITLE SECTION-->
                        <div class="col-12">
                            <h1 class="bg-danger text-white">Libros disponibles</h1>
                        </div>
                        <div class="col-12 card-filter">
                            <div class="card text-white bg-warning col-12" id="login-card">
                                <div class="card-header">Buscar por Autor</div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <form action="/autor" method="GET" enctype="multipart/form-data">
                                            <select class="form-control custom-select" name="idAutor">
                                            <option th:if="${autorSelected} == null" selected disabled value="">Seleccionar...</option>
                                            <option th:if="${autorSelected} != null" selected th:value="${autorSelected.id}"><span th:text="${autorSelected.nombre}"></span></option>
                                            <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                                        </select><br>
                                            <br>
                                            <div id="card-filter-buttons">
                                                <button th:if="${autorSelected} != null" type="submit" class="btn btn-dark" formaction="/inicio" formmethod="GET">Borrar filtro</button>
                                                <button type="submit" class="btn btn-dark">Filtrar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div th:each="arte : ${artes}" class="col card-body-container">
                            <div class="row bg-dark text-white card-content">
                                <div class="col-4">
                                    <a th:title="'Conocer más sobre ' + ${arte.nombre}" type="button" data-toggle="modal" th:attr="data-target=${'#editModal'+arte.id}"><img th:src="@{'/foto/arte/' + ${arte.id}}" class="card-img-top-portada" alt="Portada"></a><br>

                                </div>
                                <div class="col-8 card-body-content">
                                    <h5><strong><span th:text="${arte.nombre} + ' (' + ${arte.anio} + ')'"></span></strong></h5>
                                    <div>
                                        <span th:text="'Autor: ' + ${arte.autor.nombre}"></span><br>
                                        
                                    </div>
                                    <br>
                                    <div class="card-body-content-button">
                                        <a th:title="'Conocer más sobre ' + ${arte.nombre}"><button type="button" class="btn btn-sm" id="btn-orange" data-toggle="modal" th:attr="data-target=${'#editModal'+arte.id}">Conocer más</button></a><br>
                                        <small class="text-muted">Préstamo sujeto a disponibilidad</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--PRESTAMO-->
                        <!-- Modal -->arte
                        
                        <div th:each="arte: ${artes}" th:attr="id=${'editModal' + arte.id}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-white">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <strong><h5 class="modal-title" id="exampleModalLabel" th:text="${arte.nombre} + ' (' + ${arte.anio} + ')'"></h5></strong>
                                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body"><br>
                                        <div class="row  text-white">
                                            <div class="col-4">
                                                <img th:src="@{'/foto/arte/' + ${arte.id}}" class="card-img-top-portada" alt="Portada">
                                            </div>
                                            <div class="col-8 card-body-content text-justify">
                                                <div>
                                                    <ul>
                                                        
                                                        <li><span th:text="'Autor: ' + ${arte.autor.nombre}"></span></li>
                                                        
                                                        
                                                        <li>Descripción: <span th:text="${arte.descripcion}" id="descripcion-arte"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIN USUARIO SECTION-->
                    </div>
                </div>

<!--                 SCRIPTS
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->


            </div>


            <!--FOOTER-->
            <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>