<!DOCTYPE html5>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--HEAD-->
<head th:replace="/fragments/head :: head"></head>
<head>
    <title>Librería EGG - Modificar Libro</title>
</head>
    <body>
        <div id="pagina">
            <!--NAVIGATION-->
        <nav th:replace="/fragments/navbar :: nav"></nav>
            <div id="contenido">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="bg-dark text-white">Menú Administrativo de Libros</h1>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div th:if="${error != null}" class="col-12 alert alert-danger alert-dismissible fade show" style="height: fit-content" role="alert">
                            <!--Este if mostrará el texto en el caso de que aparezca un error.-->
                            <span th:text="${error}" style="color:red;"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
<!--                        <div th:if="${success != null}" class="col-12 alert alert-success alert-dismissible fade show" style="height: fit-content" role="alert">
                            Este if mostrará el texto en el caso de que salga todo bien.
                            <span th:text="${success}" style="color:green;"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>-->
                        <div class="container" style="display: flex; flex-direction: row-reverse; align-items: baseline;">
                            <button class="btn btn-danger" id="btn-orange" type="button" data-toggle="collapse" data-target="#collapse1"
                                    aria-expanded="false" aria-controls="collapseExample" disabled="">
                                <i class="bi bi-pencil-square"></i> Modificar Libro
                            </button>
                        </div>

                        <div class="" id="collapse2" style="width: 100%;">
                            <div class="card card-body alert alert-dismissible col-12 bg-dark text-white" role="alert">
                                Ingrese los datos solicitados a continuación:
                                <div class="registry-form bg-dark text-white">
                                    <div class="text-justify">

                                        <form action="/admin/libros/modificar-libro" method="POST" enctype="multipart/form-data">

                                            <input type="hidden" name="id" th:value="${libroModif.id}"/>

                                            <label>ISBN</label>
                                            <input type="text" class="form-control" name="isbn" th:value="${libroModif.isbn}"/>
                                            <small id="isbnHelp" class="form-text text-muted">Número de 10-13 dígitos
                                                que identifica el libro.</small>


                                            <label>Título</label>
                                            <input type="text" class="form-control" name="titulo" th:value="${libroModif.titulo}"/>

                                            <label for="anio">Año</label>
                                            <input type="number" class="form-control" name="anio" th:value="${libroModif.anio}"/>
                                            
                                            <label for="descripcion">Descripción</label>
                                            <input type="textarea" class="form-control" name="descripcion" th:value="${libroModif.descripcion}"/>
                                            <small id="descripcionHelp" class="form-text text-muted">Reseña de máx. 255 caracteres que identifica el libro.</small>
                                            
                                            <label>Foto</label>
                                            <input type="file" class="form-control" name="archivo" th:value="${archivo}"/>
                                            
                                            <label>Ejemplares</label>
                                            <input type="number" class="form-control" name="ejemplares" th:value="${libroModif.ejemplares}" id="ejemplares"
                                                   aria-describedby="ejemplaresHelp"/>
                                            <small id="ejemplaresHelp" class="form-text text-muted">Número total de
                                                ejemplares del libro.</small>

                                            <label>Autor</label>
                                            <select class="form-control custom-select" name="idAutor">
                                                <option selected th:value="${libroModif.autor.id}"><span th:text="${libroModif.autor.nombre}"></span></option>
                                                <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                                            </select>
                                            <small id="autorHelp" class="form-text text-muted">Autor registrado en nuestra base de datos.</small>

                                            <label>Editorial</label>
                                            <select class="form-control custom-select" name="idEditorial">
                                                <option selected th:value="${libroModif.editorial.id}"><span th:text="${libroModif.editorial.nombre}"></span></option>
                                                <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                                            </select>
                                            <small id="editorialHelp" class="form-text text-muted">Editorial registrada en nuestra base de datos.</small>
                                            <br>
                                                <button type="submit" class="btn btn-secondary" formaction="/admin/libros/admin-libros" formmethod="GET">Cancelar</button>
                                                <button type="submit" class="btn btn-success">Modificar Libro</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--FOOTER-->
                <footer th:replace="/fragments/footer :: footer"></footer>
            </div>
    </body>

</html>