<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madí - tienda</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


    <link rel="stylesheet" href="/style_tienda.css">
    <link rel="stylesheet" href="/style-resp.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script>
        $(document).ready(function() {
            $('#icon').click(function() {
                $('ul').toggleClass('show');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#icon2').click(function() {
                $('ul').toggleClass('show2');
            });
        });
    </script>
</head>

<body>

    <!--NAVBAR -->

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <section class="flex-container">
        <section class="carrusel-grid" style="order: 2;">
            <!-------------- CARROUSEL --------------->
            <section class="carousel">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/img/carrousel1.jpeg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <button type="button" class="btn btn-light">Artistas</button>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <img src="../static/img/carousel2.png" class="d-block w-100" id="carousel2" alt="...">
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <!----------------  GRID ------------->
            <section class="grid-container">
                <section class="grid">

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda3.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda2.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda3.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda2.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>

                    <div class="product">
                        <img class="imagen_tienda" src="../static/img/imagen_tienda2.jpeg" alt="cuadro">
                        <div class="product-name"> CUADRO </div>
                        <div class="product-price"><strong>$6000</strong></div>
                    </div>
                </section>
            </section>

        </section>

        <!--SIDEBAR -->
        <aside class="sidebar" style="order: 1;">

            <label id="icon2">
        <i class="fa fa-bars"></i>
      </label>

            <section class="show2">
                <Ul>
                    <strong>
            <li> FILTRAR POR PRECIO </li>
          </strong>
                    <li style="font-size: 10px">Precio: $500 - $10.000</li>

                    <li>
                        <div class="wrapper">
                            <div class="values" style="padding: 1em 1em 4em;">
                                <span id="range1">
                      $500
                  </span>
                                <span> &dash; </span>
                                <span id="range2">
                      $10000
                  </span>
                            </div>
                            <div class="container">
                                <div class="slider-track"></div>
                                <input type="range" min="500" max="10000" value="500" id="slider-1" oninput="slideOne()">
                                <input type="range" min="500" max="10000" value="5000" id="slider-2" oninput="slideTwo()">
                            </div>
                        </div>

                    </li>
                </Ul>

                <Ul>
                    <strong>
            <li> CATEGORIAS </li>
          </strong>
                    <li><a class="nav-link" href="">fotografia</a></li>
                    <li><a class="nav-link" href="faqs.html">óleo</a></li>
                    <li><a class="nav-link" href="faqs.html">acuarela</a></li>
                    <li><a class="nav-link" href="faqs.html">acrílico</a></li>
                    <li><a class="nav-link" href="faqs.html">collage</a></li>
                    <li><a class="nav-link" href="faqs.html">ilustraciones</a></li>
                </Ul>

                <Ul>
                    <strong>
            <li> ARTISTAS </li>
          </strong>
                    <li><a class="nav-link" href="faqs.html">artista</a></li>
                    <li><a class="nav-link" href="faqs.html">artista</a></li>
                    <li><a class="nav-link" href="faqs.html">artista</a></li>
                    <li><a class="nav-link" href="faqs.html">artista</a></li>
                    <li><a class="nav-link" href="faqs.html">artista</a></li>
                </Ul>
            </section>
        </aside>
    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!--Script filtrar precio-->
    <script src="scripttienda.js"></script>


    <!--FOOTER-->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>