/* --------------------------- ESTILOS GENERALES --------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container.text-center {
    margin-bottom: 5%;
}

div h1#encabezado {
    margin: 3%;
    margin-left: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 0%;
}

.usuario {
    align-items: center;
    width: 100%;
}

.img-fluid.rounded-circle {
    max-width: 100%;
    width: 250px;
    object-fit: cover;
    position: relative;
    align-items: center;
    padding: 15px 15px;
    margin-top: -2%;
}

.usuario h2,
.usuario h5 {
    padding: 0;
}

.usuario h5 {
    font-style: italic;
    font-size: 15px;
    color: rgb(151, 150, 150);
}

div#contenido {
    background-color: #202020;
}

.bg-dark {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.row {
    font-size: 18px;
}

div.col-12 h1 {
    padding: 15px;
    margin-top: 10px;
    font-size: 25px;
}

div#login-card {
    padding: 10px 10px;
    margin: 10px 10px;
}

div.col-auto h5 {
    font-size: 16px;
}

.card-text {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    font-size: 15px;
}

.card-body h5 {
    flex: 1 1 auto;
    font-size: 18px;
}

.card-body button {
    margin-top: 3%;
    width: 100%;
}

.card-body button#btn-usuario {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(19, 19, 24);
    background-color: rgb(183, 109, 183);
    border-color: transparent;
}

.card-body button#dropdownMenu2 {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(19, 19, 24);
    background-color: #d35400;
    border-color: transparent;
}

.card-body button#btn-usuario:hover {
    background-color: rgb(145, 93, 145);
}

.card-body button#dropdownMenu2:hover {
    background-color: #e4742a;
}

.dropdown-menu {
    width: 90%;
    background-color: #e4742a;
}

.dropdown-menu a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 909px) {
    .img-fluid {
        max-width: 30%;
        position: relative;
        align-items: center;
        padding: 15px 15px;
    }
    .bg-dark {
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .row {
        font-size: 12px;
    }
    div.col-12 h1 {
        padding: 10px;
        margin-top: 7px;
        font-size: 18px;
    }
    div#login-card {
        padding: 10px 10px;
        margin: 10px 10px;
    }
    .card-text {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        font-size: 11px;
    }
    .card-body h5 {
        flex: 1 1 auto;
        font-size: 11px;
    }
    button.btn.btn-warning {
        margin: 10px 5px;
        font-size: 11px;
    }
}