* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.flex-container {
    display: flex;
    justify-content: space-between;
}

section.carrusel-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
    margin-left: 0;
}

.carrito-de-compra {
    color: black;
    margin: 2rem;
    height: 100%;
    background-color: #e1e1e1;
}

div.carrito-de-compra h2 {
    background: #c1bebe;
    width: 100%;
    color: rgb(0 0 0 / 80%);
    font-size: 1.5rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    padding: 1.1999999999999993rem;
}

.row {
    width: 100%;
    --bs-gutter-x: 0rem;
}

.botones-carrito {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.botones-carrito a {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#final-compra {
    width: 100%;
    background-color: #d35400;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
}

#seguir-compra {
    width: 100%;
    background-color: rgb(183, 109, 183);
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
}

#final-compra:hover {
    background-color: #e4742a;
}

#seguir-compra:hover {
    background-color: rgb(145, 93, 145);
}

.precio-total {
    background-color: #c1bebe;
    color: rgb(0 0 0 / 90%);
    text-align: end;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

div.precio-total label {
    display: inline-block;
    margin-bottom: -1rem;
    font-size: 20px;
    font-weight: bold;
}

div.precio-total span {
    display: inline-block;
    margin-bottom: -1rem;
    font-size: 20px;
    font-weight: bold;
}

#eliminar-carrito {
    width: 31px;
    margin-left: -6rem;
    background-image: url(/img/icon_eliminar.png);
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: 33px;
    filter: opacity(0.65);
}


/*-----------------GRID------------------*/


/*grid con 4 columnas q cada una ocupa un 25% del 70% de la pantalla*/

section.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    max-width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-evenly;
}


/*producto del grid*/

.grid div.product {
    max-width: 200px;
    padding: 10px;
    margin: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 80%;
    box-sizing: border-box;
}


/*cuando le pasamos el mouse se le pone borde*/

.grid div.product:hover {
    border: 1px solid black;
}

img.imagen_tienda {
    width: 100%;
}

div.product-name {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*-------------ASIDE------------*/

aside.sidebar {
    max-width: 200px;
    width: 30%;
    height: 100vh;
    margin-top: 30px;
    padding-left: 15px;
}

.sidebar li {
    font-size: 12px;
    padding: 1px;
    margin: 2px 2px 2px 30px;
}

.nav-link {
    color: black;
}

.sidebar ul {
    margin-top: 80px;
}


/*icono fas fa aside*/

aside label#icon2 {
    color: black;
    font-size: 20px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}


/*PRICE RANGE*/

.wrapper {
    position: relative;
    width: 20vmin;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    background-color: #d5d5d5;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.6em;
    width: 0.3em;
    background-color: #101010;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

input[type="range"]:active ::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid#3264fe;
}


/*-------------tarjetas tienda------------*/

#login-card {
    width: 18rem;
    max-height: 100%;
}

#btn-orange {
    background-color: #303030;
    color: white;
    font-size: 1em;
    margin-left: 5px;
    padding: 1%;
    height: 45px;
}


/*CARD FILTRO DE BÚSQUEDA*/

.card-filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    align-items: center;
}

#card-filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card-filter-buttons button {
    margin-left: 1%;
    margin-right: 1%;
}


/*CARDS CON PORTADAS DE LIBROS*/

.card-body-container {
    margin: 1%;
}

.card-content {
    height: 250px;
    width: 420px;
    border-radius: 15px;
}

.card-content:hover {
    box-shadow: 1px 1px 5px rgb(19, 19, 24);
}

.card-img-top-portada {
    max-width: 200%;
    height: 200%;
    align-content: center;
    vertical-align: middle;
    box-shadow: 1px 1px 5px rgb(19, 19, 24);
}

.card-img-top-portada:hover {
    box-shadow: 1px 1px 15px rgb(19, 19, 24);
}

.card-body-content {
    height: 100%;
    right: -10%;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    padding: 1em 1em 1em 3em;
}

h5 {
    font-size: 1.1em;
}

.col-4 {
    padding: 1em 1em 3em 1.5em;
}

.card-body-content-button {
    align-self: center;
    vertical-align: bottom;
}

modal-content {
    border-style: none;
}