@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f3f4fb;
	font-family: "Roboto", sans-serif;
}

.main-content {

	padding-top: 200px;
	padding-bottom: 100px;
}

.flex-center {
	align-items: center;
}

#accordion .accordion-card {
	background: transparent;
	border: 0;
	margin-bottom: 30px;
}
#accordion .accordion-card__header {
	background: #3f51b5;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#accordion .accordion-card__header.collapsed .drop-icon {
	transform: rotate(0deg);
}
#accordion .accordion-card__header h5 {
	display: flex;
	align-items: center;
}
#accordion .accordion-card__header h5 span {
	margin-left: 10px;
}
#accordion .accordion-card__header .drop-icon {
	margin-right: 15px;
	transform: rotate(180deg);
	transition: all 0.2s;
}
#accordion .accordion-card__body {
	padding: 25px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}
