@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
    background: #f3f4fb;
    font-family: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 1048px) {}

@media (max-width: 909px) {
    .img-fluid {
        max-width: 60%;
        height: auto;
    }
}

.row.img-fluid {
    max-width: 100%;
    height: auto;
}

.main-content {
    padding-top: 60px;
    padding-bottom: 80px;
}

.flex-center {
    align-items: center;
}

#accordion .accordion-card {
    background: transparent;
    border: 0;
    margin-bottom: 15px;
}

#accordion .accordion-card__header {
    background: #000000;
    color: #fff;
    font-size: 14px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#accordion .accordion-card__header.collapsed .drop-icon {
    transform: rotate(0deg);
}

#accordion .accordion-card__header h5 {
    display: flex;
    align-items: center;
}

#accordion .accordion-card__header h5 span {
    margin-left: 10px;
    font-size: 1rem;
}

#accordion .accordion-card__header .drop-icon {
    margin-right: 15px;
    transform: rotate(180deg);
    transition: all 0.2s;
}

#accordion .accordion-card__body {
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}


/*----------------------FOOTER---------------------*/

footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 85%;
    padding: 40px;
    margin-left: 5%;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.row3 {
    margin-top: 20px;
    display: flex;
}

.row3 img {
    width: 36px;
    height: 36px;
}

.row3 label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}