/* --------------------------- ESTILOS GENERALES --------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ------------------------ NAVBAR ------------------------*/

nav {
    height: 80px;
    width: 100%;
    background-color: #202020;
    font-size: 10px;
}

.seccion-uno {
    width: 33%;
}

nav ul {
    float: left;
    margin: 0px 0px;
    padding: 0px 8px;
}

nav li {
    display: inline-block;
    margin: 0 2px;
}

nav a.nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px;
}

a.nav-link:hover {
    color: orange;
}

.seccion-dos {
    width: 33%;
}

.menu-logo {
    display: block;
    height: 70px;
}

img#logo {
    height: 100%;
    margin-left: 50%;
}

.seccion-tres {
    width: 33%;
    padding-left: 15%;
    display: inline-flex;
}

#inicses {
    margin-left: -60%;
    width: 100%;
}

#carrito:hover {
    background-color: orange;
    color: white;
}

nav #icon {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

.nav-item.dropdown {
    right: 5%;
    position: absolute;
    top: 35%;
}

.nav-item.dropdown:hover {
    color: transparent;
}

@media (max-width: 1048px) {
    .seccion-uno {
        width: 1%;
    }
    .seccion-dos {
        width: 30%;
        height: 70px;
    }
    .seccion-tres {
        width: 33%;
        padding-left: 1%;
        height: 27px;
        display: inline-flex;
    }
    label.logo {
        font-size: 32px;
        padding-right: 60px;
    }
    nav ul {
        margin-left: 20px;
    }
    nav a {
        font-size: 10px;
    }
    .menu-logo {
        display: block;
        height: 70px;
        width: 50%;
    }
    img#logo {
        height: 100%;
        margin-left: 30%;
    }
    .navbar-nav .nav-link {
        margin-top: -27px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        font-size: 20px;
        display: block;
    }
    nav ul {
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(70, 70, 70);
        margin: 0%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }
    nav li {
        display: block;
        margin: 30px 0px;
        line-height: 15px;
    }
    nav a {
        font-size: 10px;
    }
    nav ul.show {
        left: 0;
        z-index: 1;
    }
    .menu-logo {
        display: block;
        height: 70px;
        width: 50%;
    }
    img#logo {
        height: 100%;
        margin-left: 10%;
    }
    .navbar-nav .nav-link {
        margin-top: -27px;
    }
}

.navbar-nav .dropdown-menu.dropdown-menu-lg-right.show {
    position: absolute;
    float: none;
    margin-left: -450%;
    margin-top: 90%;
    padding: 50%;
    font-size: 10px;
    background-color: #202020;
}


/* --------------------------- ESTILOS DE FOOTER --------------------------- */

footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 85%;
    padding: 40px;
    margin-left: 5%;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1footer {
    max-width: 400px;
}

.column1footer h2 {
    font-size: 100%;
}

.column1footer p {
    font-size: 80%;
    color: #C7C7C7;
    margin-top: 5%;
}

#linkinfo{
    color: orange;
}

.column2footer {
    max-width: 100%;
    margin-left: 20%;
}

.column2footer h2 {
    font-size: 100%;
}


.redes {
    margin-top: 4%;
    margin-bottom: -5%;
    display: flex;
}

.imgredes {
    width: 6%;
    height: 6%;
}


.label {
    margin-bottom: 5%;
    
}

.redes label {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 5%;
    color: #C7C7C7;
    font-size: 80%;
}

.column3footer {
    max-width: 400px;
}

.column3footer h2 {
    font-size: 100%;
    margin-bottom:15%
}

.contact {
    margin-top: 5%;
    display: flex;
}

.contact img {
    width: 17%;
    height: 17%;
}

.contact label {
    margin-top: -2%;
    margin-left: 8%;
    margin-bottom: 8%;
    max-width: 100%;
    color: #C7C7C7;
    font-size: 80%;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 85%;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .column1footer {
        max-width: 100%;
    }
    .column2footer,
    .column3footer {
        margin-top: 5%;
    }
}
/*-------------tarjetas tienda------------*/
#login-card {
    width: 18rem;
    max-height: 100%;
}

#btn-orange {
    background-color: #d35400;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    padding:1%;
    height: 45px;
}

/*CARD FILTRO DE BÚSQUEDA*/
.card-filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    align-items: center;
}

#card-filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card-filter-buttons button {
    margin-left: 1%;
    margin-right: 1%;
}

/*CARDS CON PORTADAS DE LIBROS*/
.card-body-container {    
    margin: 1%;
    text-shadow: 1px 1px 5px rgb(19, 19, 24);
}

.card-content {
    height: 250px;
    width: 420px;
    border-radius: 15px;
}

.card-content:hover {
    box-shadow: 1px 1px 5px rgb(19, 19, 24);
}

.card-img-top-portada {
    max-width: 128px;
    height: 197px;
    align-content: center;
    vertical-align: middle;
    box-shadow: 1px 1px 5px rgb(19, 19, 24);

}

.card-img-top-portada:hover {
    box-shadow: 1px 1px 15px rgb(19, 19, 24);
}

.card-body-content {
    height: 197px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
}

.card-body-content-button {
    align-self: center;
    vertical-align: bottom;
}

modal-content {
    border-style: none;
}