* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(179, 179, 179);
    font-size: 10px;

}

nav ul {
    float: left;
    margin: 0px 0px;
    padding: 0px 8px;
}

nav li {
    display: inline-block;
    margin: 0 2px;
}

nav a.nav-link {
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

a.nav-link:hover {
    color: green;
}

img#logo {
    width: 9%;
    position: absolute;
    top: 0px;
    right: 45%;
    display: inline-block;
}

nav #icon {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-right: 60px;
    }

    nav ul {
        margin-left: 20px;
    }

    nav a {
        font-size: 10px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        font-size: 20px;
        display: block;
    }

    nav ul {
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(165, 165, 165);
        margin: 0%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }

    nav li {
        display: block;
        margin: 30px 0px;
        line-height: 15px;
    }

    nav a {
        font-size: 10px;
    }

    nav ul.show {
        left: 0;
    }
}

/*hasta aca todo fue del nav bar*/

section.flex-container {
    display: flex;
    justify-content: space-between;
  
   
}

section.carrusel-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
    margin-left: 0;

}

/*-------------CARRUSEL--------------*/

section.carousel {
    display: flex;
    max-width: 700px;
    max-height: 300px;
    justify-content: center;
    margin: 30px auto;
}

/*imagen carrusel*/
.d-block.w-100 {
    width: 500px;
    height: 350px;
}

.carousel-inner button {
    float: right;
}

ol {
    list-style-type: circle;
}

#carousel2-list {
    top: 30px;
    text-align: left;
}

.carousel-item li {
    font-size: small;
}

#carousel2 {
    max-width: 100%;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}



/*-----------------GRID------------------*/

/*grid con 4 columnas q cada una ocupa un 25% del 70% de la pantalla*/
section.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    max-width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
   justify-content: space-evenly;
}

/*producto del grid*/
.grid div.product {
    max-width: 200px;
    padding: 10px;
    margin: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 80%;
    box-sizing: border-box;
}

/*cuando le pasamos el mouse se le pone borde*/
.grid div.product:hover {
    border: 1px solid black;
}

img.imagen_tienda {
    width: 100%;
}

div.product-name {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*-------------ASIDE------------*/
aside.sidebar {
    max-width: 200px;
    width: 30%;
    height: 100vh;
    margin-top: 30px;
    padding-left: 15px;
    
}

.sidebar li {
    font-size: 12px;
    padding: 1px;
    margin: 2px 2px 2px 30px;
}

.sidebar ul {
    margin-top: 80px;
}








/*----------------------FOOTER---------------------*/
footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 85%;
    padding: 40px;
    margin-left: 5%;
}

.container-body {
    display: flex;
    justify-content: space-between;

}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;

}

.colum2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px) {

    .container-body {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}