    body {
        background-color: #202020;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    div h1#encabezado {
        margin: 3%;
        margin-left: 0;
        text-transform: uppercase;
        width: 0%;
    }
    
    .btn.btn-success {
        background-color: rgb(183, 109, 183);
        border-color: rgb(19 19 24);
        box-shadow: 1px 1px 5px rgb(19 19 24);
    }
    
    .btn.btn-success:hover {
        background-color: rgb(184, 124, 184);
    }