/* --------------------------- ESTILOS GENERALES --------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*-------------form-------------*/

form {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20%;
    color: #555555;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 65%;
    margin-left: 35%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(37, 37, 37);
    transform: scale(1.05);
}

form label.checkbox {
    font-size: 15px;
}