* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #202020;
    font-size: 10px;
}

nav ul {
    float: left;
    margin: 0px 0px;
    padding: 0px 8px;
}

nav li {
    display: inline-block;
    margin: 0 2px;
}

nav a.nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px;
}

a.nav-link:hover {
    color: green;
}

img#logo {
    width: 10%;
    position: absolute;
    top: 0px;
    right: 45%;
    display: inline-block;
}

nav #icon {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-right: 60px;
    }
    nav ul {
        margin-left: 20px;
    }
    nav a {
        font-size: 10px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        font-size: 20px;
        display: block;
    }
    nav ul {
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(0, 0, 0);
        margin: 0%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }
    nav li {
        display: block;
        margin: 30px 0px;
        line-height: 15px;
    }
    nav a {
        font-size: 10px;
    }
    nav ul.show {
        left: 0;
    }
}


/*------------------texto---------------- */

.text-nav {
    text-align: center;
    margin-top: 2%;
}


/*-------------slider-------------*/

section.slider {
    height: 480px;
    margin: 0;
    display: grid;
    grid-template-rows: 400px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

div#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 98%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(32, 32, 32);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    z-index: -1;
    position: relative;
}

.slider-txt {
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5));
    text-align: center;
    color: white;
    padding: 0;
    z-index: 1999;
}

.slider-txt p {
    margin-top: 5px;
    margin-bottom: 7px;
}

div.item:nth-of-type(1) {
    --offset: 1;
}

div.item:nth-of-type(2) {
    --offset: 2;
}

div.item:nth-of-type(3) {
    --offset: 3;
}

div.item:nth-of-type(4) {
    --offset: 4;
}

div.item:nth-of-type(5) {
    --offset: 5;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~div#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~div#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~div#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~div#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~div#carousel {
    --position: 5;
}


/*---------------card artists---------------*/

.artistas {
    margin-top: 0;
    margin: 30px;
}

#dropdownMenu2 {
    background-color: #202020;
    color: white;
    padding: 15px 50px;
    text-align: left;
}

.card.h-100 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


/*---------------footer---------------*/

footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 85%;
    padding: 40px;
    margin-left: 5%;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 60px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}