* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #202020;
    font-size: 10px;
}

nav ul {
    float: left;
    margin: 0px 0px;
    padding: 0px 8px;
}

nav li {
    display: inline-block;
    margin: 0 2px;
}

nav a.nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px;
}

a.nav-link:hover {
    color: green;
}

img#logo {
    width: 10%;
    position: absolute;
    top: 0px;
    right: 45%;
    display: inline-block;
}

nav #icon {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-right: 60px;
    }
    nav ul {
        margin-left: 20px;
    }
    nav a {
        font-size: 10px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        font-size: 20px;
        display: block;
    }
    nav ul {
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(0, 0, 0);
        margin: 0%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }
    nav li {
        display: block;
        margin: 30px 0px;
        line-height: 15px;
    }
    nav a {
        font-size: 10px;
    }
    nav ul.show {
        left: 0;
    }
}


/*------------------texto---------------- */

.text-nav {
    text-align: center;
    margin-top: 2%;
}


/*-------------form-------------*/

form {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20%;
    color: #555555;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 65%;
    margin-left: 35%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(37, 37, 37);
    transform: scale(1.05);
}

form label.checkbox {
    font-size: 15px;
}


/*------------------footer---------------- */

footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 85%;
    padding: 40px;
    margin-left: 5%;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 60px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}